# Copia este archivo como ".env" y rellena tus valores.
# Todos estos valores también se pueden editar luego desde la pestaña "Ajustes" en la web.

# API key gratuita de TheMovieDB (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=

# Jellyfin: URL y API key (Panel de control -> API Keys)
JELLYFIN_URL=http://192.168.1.10:8096
JELLYFIN_API_KEY=
